@import url('https://fonts.googleapis.com/css?family=Spartan:weight@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color:#222;
}

h2 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 700px;
    line-height: 12px;
}

P {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* Header Start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    bottom: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 720;
    color: #1a1a1a;
    transition: 0.3s;
}

#navbar li a:hover,
#navbar li a.active {
    color: #08813a;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #08813a;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

/* Home Page */
#headline {
    background-image: url("img/headline1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 25% right 10%;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    align-items: flex-start;
    justify-content: center;
}

#headline h1 {
    color: #088178;
}

#headline h4{
    padding: 15px;
}

#headline button {
    background-color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}